
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}


html{
	background: url(../images/bg-image.jpg);
	margin: 0;
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
body{
	margin:0;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAICAYAAAAx8TU7AAAAG0lEQVQIW2NkYGB4BsQogBGXYBo2lVgFqW0mAAMyBTnkxKBjAAAAAElFTkSuQmCC) repeat;
	text-align: center;
	text-transform: uppercase;
	background-position: center;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
}

h1{
	color: #8BC34A;
	font-size: 72px;
	font-size: 5.9vw;
	position: absolute;
	top: 20%;
	width: 100%;
	text-align: center;
}

h2 {
	font-weight: 500;
	font-size: 27px;
	font-size: 2vw;
	margin: 0 auto;
	position: absolute;
	top: 38%;
	width: 100%;
	color: #8BC34A;
	text-align: center;
}
h3 {
	color: #fff;
	position: absolute;
	top: 32%;
	width: 100%;
	text-align: center;
}

ul{
	list-style: none;
	display: block;
}

a{
	color: #8BC34A;
}

.wrapper{
	min-height: 500px;
	position: relative;
}

.logo {
	position: absolute;
	top:10%;
	text-align: center;
	width: 100%;
}

ul.countdown {
	position: absolute;
	top: 60%;
	margin-top: -40px;
	text-align: center;
	padding: 0;
	margin-bottom: 0;
	width: 100%;
}

ul.countdown li {
	display: inline-block;
	margin-right: 3%;
	text-align: center;
}

ul.countdown li span {
	font-size: 72px;
	font-size: 5.8vw;
	width: 150px;
	letter-spacing: 5px;
	font-weight: 300;
	color: #fff;


}

ul.countdown li p {
	color: #8BC34A;
	font-size: 14px;
	margin-bottom: 0;
}

ul.countdown li:last-child {
	margin-right: 0;
}

ul.social{
	position: absolute;
	width: 100%;
	bottom: 50px;
	font-size: 25px;
	text-align: center;
}

ul.social > li{
	display: inline-block;
}

ul.social > li > a{
	color: #fff;

}

ul.social > li > a > i{
	width: 35px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	display:block;
}

ul.social > li:hover {
	-moz-transform: scale(2,2);
	-ms-transform: scale(2,2);
  -webkit-transform: scale(2,2);
  transform: scale(2,2);
}
ul.social > li > a:hover i{
	border-radius: 100%;
}

ul.social > li > a:hover .icon-facebook{
	background: #3b5998;
}

ul.social > li > a:hover .icon-twitter-1{
	background: #00aced;
}
ul.social > li > a:hover .icon-behance{
	background: #1769FF;
}
ul.social > li > a:hover .icon-pinterest-circled{
	background: #CB2026;
}
ul.social > li > a:hover .icon-gplus-1{
	background: #d34836;
}

ul.social > li > a:hover .icon-dribbble-1{
	background: #EA4C89;
}
.copyright{
	position: absolute;
	text-align: center;
	bottom: 10px;
	width: 100%;
	color: #fff;
}

@media screen and (max-width: 500px){

	h2{
		font-size: 3.5vw
	}
}
a {
	cursor: pointer;
}
